@media only screen and (min-width: 950px) {
    .mainDiv{
        padding: 90px 0px 0px 90px;
    }
}

@media only screen and (max-width: 950px) {
    .mainDiv{
        padding: 90px 0px 0px 20px;
    }
}


.alterarDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alterarTelas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.camps{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 80vw;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.btnProcurar{
    font-family: var(--ZenMaru);
    text-align: center;
    font-weight: 600;
    font-size: 1.30em;
    padding: 0 20px 5px 20px;
    height: 40px;
    background-color: hsl(180, 25%, 27%);
    border: none;
    color: azure;
    border-radius: 25px;
    margin-top: 10px;
}

.btnProcurar:hover{
    background-color: hsl(180, 25%, 47%);
    transition: background-color 0.2s;
}
.divRegistroSelecionado{
    margin-top: 10px;
    font-size: 1.3em;
    font-family: var(--ZenMaru);
    font-weight: 600;
}