.container {
    padding: 30px 0px 0px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container form {
    border-radius: 20px;
    border: 2px solid var(--cor07);
}

.formTitle {
    margin: 45px 0px 20px 0px;
    color: var(--cor02);
}

.formItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    margin: 10px 0px;
}

.formItem label {
    width: 80%;
    color: var(--cor01);
}

.formItem input {
    width: 80%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-style: outset;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 1px 5px;
    transition: 0.2s;
}

.formItem input:focus {
    border: 1px solid var(--cor06);
    box-shadow: 2px 2px 5px var(--cor06);
    outline: 0px;
    transition: 0.2s;
}

.button {
    margin: 30px auto 0px auto;
    justify-self: center;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border-color: transparent;
    background-color: var(--cor03);
    text-decoration: none;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(240, 240, 240);
    transition: 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--cor05);
    transition: 0.2s;
}

.checkboxWrapper14 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.checkboxWrapper14 div {
    width: 80%;
    height: 33px;
    padding: 0px 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-style: outset;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.checkboxWrapper14 label{
    align-self: center;
    margin-bottom: 2px;
    width: 80%;
    color: var(--cor01);
}

.checkboxWrapper14 p{
    min-width: 101px;
    margin-left: 10px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkboxWrapper14 input[type=checkbox] {
      --active: #335555;
      --active-inner: #fff;
      --focus: 2px rgba(34, 57, 57, .3);
      --border: #335555;
      --border-hover: #223939;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .checkboxWrapper14 input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .checkboxWrapper14 input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .checkboxWrapper14 input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    .checkboxWrapper14 input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    .checkboxWrapper14 input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
    .checkboxWrapper14 input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    .checkboxWrapper14 input[type=checkbox]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    .checkboxWrapper14 input[type=checkbox]:not(.switch) {
      width: 21px;
    }
    .checkboxWrapper14 input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
    .checkboxWrapper14 input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
    .checkboxWrapper14 input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }

    .checkboxWrapper14 input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    .checkboxWrapper14 input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    .checkboxWrapper14 input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
    .checkboxWrapper14 input[type=checkbox].switch {
      width: 38px;
      border-radius: 11px;
    }
    .checkboxWrapper14 input[type=checkbox].switch:after {
      left: 1px;
      top: 1px;
      border-radius: 50%;
      width: 17px;
      height: 17px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    .checkboxWrapper14 input[type=checkbox].switch:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    .checkboxWrapper14 input[type=checkbox].switch:disabled:not(:checked):after {
      opacity: 0.6;
    }

    /* Alterar texto referente ao resultado da checkbox */
    .checkboxWrapper14 input[type=checkbox]:checked ~ .aluno{
        display: none;
    }
    .checkboxWrapper14 input[type=checkbox]:checked ~ .funcionario{
        display: block;
    }
    .checkboxWrapper14 input[type=checkbox] ~ .aluno{
        display: block;
    }
    .checkboxWrapper14 input[type=checkbox] ~ .funcionario{
        display: none;
    }
}

@media (max-width:947px) {
  .container {
    padding: 0px;
  }
}