:root {
  background-color: white;
  --cor00: rgb(10, 10, 10);
  --cor01: rgb(16, 27, 27);
  --cor02: rgb(34, 57, 57);
  --cor03: rgb(51, 85, 85);
  --cor04: rgb(68, 113, 113);
  --cor05: rgb(85, 141, 141);
  --cor06: rgb(102, 169, 169);
  --cor07: rgb(118, 197, 197);
  --cor08: rgb(240, 240, 240);
}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}
