@font-face {
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-maru-gothic@latest/latin-300-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-maru-gothic@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

:root {
  background-color: white;
  --cor00: rgb(10, 10, 10);
  --cor01: rgb(16, 27, 27);
  --cor02: rgb(34, 57, 57);
  --cor03: rgb(51, 85, 85);
  --cor04: rgb(68, 113, 113);
  --cor05: rgb(85, 141, 141);
  --cor06: rgb(102, 169, 169);
  --cor07: rgb(118, 197, 197);
  --cor08: rgb(240, 240, 240);
  --ZenMaru: "Zen Maru Gothic", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}
