.botao{
    color: white;
    background-color: hsl(180, 26%, 18%);
    font-size: 1.2em;
    margin: 10px;
    border:none;
    padding: 5px;
    width: 260px;
    height: 60px;
    border-radius: 25px;
}