.botao{
    color: white;
    background-color: var(--color);
    font-size: 1.2em;
    margin: 10px;
    border:none;
    width: 260px;
    height: 60px;
    border-radius: 20px;
}

.botao:hover{
    background-color : hsl(180, 26%, 50%);
    transition: background-color 0.2s;
}