.metric-card {
  border: 1px solid #a1a1a1;
  background-color: var(--cor02);
  padding: 15px;
  text-align: center;
  width: auto;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: sans-serif;
  margin-top: -2px;
}

.metric-label {
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--cor07);
}
  
.metric-value {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cor07);
}
  

  