.mainDiv{
    overflow: auto;
    width: 90vw;
    max-height: 300px;
    margin-top: 20px;
    padding: 0;
    margin-left: 60px;
    border-radius: 5px;
}
.tabela{
    min-width: 430px;
    width: 80vw;
    border-collapse:collapse;
    font-family: 'Zen Maru Gothic';
    font-weight: 600;
    color:azure;
    margin: 0;
    width: 100%;
}

.dadoHeader{
    text-align: left;
    padding: 0px 5px;
    border-right: 1px solid white;
}

.nome {
    min-width: 30%;
}

.tabela .linha:nth-of-type(odd) {
    background-color: #447474;
}

.tabela .linha:nth-of-type(even) {
    background-color: #335757;
}

.dado{
    padding: 0px 5px;
    border-right: 1px solid white;
}

.thead{
    background-color: #223A3A;
    position: sticky;
    top: 0;
}

.icones { 
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: none;
    box-shadow: black 2px 2px 2px;
    background-color: var(--cor05);
    color: white; 
    margin: 5px; 
    font-size: 1.2em;
    transition: 0.4s;
} 

.icones:hover { 
    background-color: var(--cor07); 
    cursor: pointer;
}

.checkboxWrapper14 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 33px;
    padding: 0px 5px;
    gap: 15px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkboxWrapper14 input[type=checkbox] {
      --active: #335555;
      --active-inner: #fff;
      --focus: 2px rgba(34, 57, 57, .3);
      --border: #335555;
      --border-hover: #223939;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .checkboxWrapper14 input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .checkboxWrapper14 input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .checkboxWrapper14 input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    .checkboxWrapper14 input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    .checkboxWrapper14 input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
    .checkboxWrapper14 input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    .checkboxWrapper14 input[type=checkbox]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    .checkboxWrapper14 input[type=checkbox]:not(.switch) {
      width: 21px;
    }
    .checkboxWrapper14 input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
    .checkboxWrapper14 input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
    .checkboxWrapper14 input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }

    .checkboxWrapper14 input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    .checkboxWrapper14 input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    .checkboxWrapper14 input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
    .checkboxWrapper14 input[type=checkbox].switch {
      width: 38px;
      border-radius: 11px;
    }
    .checkboxWrapper14 input[type=checkbox].switch:after {
      left: 1px;
      top: 1px;
      border-radius: 50%;
      width: 17px;
      height: 17px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    .checkboxWrapper14 input[type=checkbox].switch:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    .checkboxWrapper14 input[type=checkbox].switch:disabled:not(:checked):after {
      opacity: 0.6;
    }

    /* Alterar texto referente ao resultado da checkbox */
    .checkboxWrapper14 input[type=checkbox]:checked ~ .tudo{
        display: none;
    }
    .checkboxWrapper14 input[type=checkbox]:checked ~ .aberto{
        display: block;
    }
    .checkboxWrapper14 input[type=checkbox] ~ .tudo{
        display: block;
    }
    .checkboxWrapper14 input[type=checkbox] ~ .aberto{
        display: none;
    }
}

@media only screen and (max-width: 947px) {
    .mainDiv{
        margin-left: 0px;
    }
}