@font-face {
    font-family: 'Zen Maru Gothic';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-maru-gothic@latest/latin-300-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-maru-gothic@latest/latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
.mainDiv{
    overflow: auto;
    width: 90vw;
    max-height: 60vh;
    margin-top: 20px;
    padding: 0;
    border-radius: 5px;
}
.tabela{
    min-width: 430px;
    width: 80vw;
    border-collapse:collapse;
    font-family: 'Zen Maru Gothic';
    font-weight: 600;
    color:azure;
    margin: 0;
    width: 100%;
}
.dadoHeader{
    text-align: left;
    padding: 0px 5px;
    border-right: 1px solid white;
}
.tabela .linha:nth-of-type(odd) {
    background-color: #447474;
}

.tabela .linha:nth-of-type(even) {
    background-color: #335757;
}

.dado{
    padding: 0px 5px;
    border-right: 1px solid white;
}

.thead{
    background-color: #223A3A;
    top: 0;
}
.colunaExcluir{
    text-align: right;
    width: 20px;
}

.primeira{
    width: 20px;
}

.telefone{
    width: 40px;
}
.sala{
    width: 20px;
}

.terceira{
    min-width: 110px;
    width: 25%;
    border-right: 0;
}

.radio{
    margin-right: 2px;
}
.trashIMG{
    height: 20px;
    width: auto;
}


