.formContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    background: #447171;
    border-radius: 5px;
}

.label {
    margin-bottom: 0.5em;
    color: #333333;
    display: block;
}

.input, .textarea {
    border: 1px solid #cccccc;
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 1em;
    width: 100%;
    box-sizing: border-box;
}

.button {
    padding: 0.7em;
    color: #fff;
    background-color: #0070f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.button:hover {
    background-color: #005bb5;
}

.campos {
    margin-top: 200px; /* Ajuste conforme necessário */
}

.form { 
    padding-top: 20px; /* Adicionando padding ao formulário */
}
