@media only screen and (min-width: 948px) {
    .mainDiv{
        padding: 90px 0px 0px 90px;
    }
    .botoesMainModal{
        display: flex;
        width: 500px;
        justify-content: center;
        align-items: center;
    }

    .btGenerico{
        width: 150px;
        margin: 5px;
        font-family: 'Zen Maru Gothic';
        font-size: 17px;
    }
    
    .tituloModal{
        font-family: 'Zen Maru Gothic';
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .textoModal{
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .msgModal{
        text-align: center;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 947px) {
    .mainDiv{
        padding: 115px 0px 0px 0px;
    }
    .botoesMainModal{
        display: flex;
        width: 270px;
        justify-content: center;
        align-items: center;
    }
    
    .btGenerico{
        width: 80px;
        margin: 5px;
        font-family: 'Zen Maru Gothic';
        font-size: 17px;
    }
    
    .tituloModal{
        font-family: 'Zen Maru Gothic';
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .textoModal{
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .msgModal{
        text-align: center;
        margin-top: 10px;
    }
}
.container{
    padding-left: 120px;
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.title, .aut, .gen{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.input[type="text"]{
    border: 1px solid;
    border-radius: 12px;
    height: 34px;
    width: 250px;
    padding-left: 10px;
    font-size: 16px;
}

.label{
    font-size: 20px;
}

.button{
    font-size: 22px;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: #335555;
    color: #fff;
    border: transparent;
}

.tabela{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-left: 4%;
}

.radioModal{
    text-align: center;
    font-size: 14px;
    border: none;
}

.radioModalX{
    margin: 10px;
}


.inputModal{
    font-size: 15px;
    width: 220px;
    font-weight: 500;
}

.spanInput{
    width:70px;
    height: 30px;
}

